.header {
	padding: 15px;
	height: 100%;
	background-color: #363855;
	color: #fff;
	position: sticky;
	top: 0;
	svg {
		margin: 5px 20px;
	}
	.cart-qty {
		font-size: 12px;
		margin-left: -20px;
	}
	div {
		display: flex;
		justify-content: flex-end;
	}
}
